@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Search Recipes</h1>
    <form action="/search" method="get">
        <label for="q"></label>
        <input type="text" id="q" name="q"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
